### See the official documentation about gitignore files at: https://git-scm.com/docs/gitignore
# Unnecessary module and jupyter files
**/.ipynb_checkpoints
**/__pycache__
**/.DS_Store
src.egg-info/
env/

# Large data files
data/raw/events/*.json
data/interim/compiled_sequences/*.h5
data/interim/events_with_scores.csv
data/raw/matches/