### See the official documentation about gitignore files at: https://git-scm.com/docs/gitignore
# Unnecessary module and Jupyter files
**/.ipynb_checkpoints
**/__pycache__
**/.DS_Store
src.egg-info/
env/
**/dask-worker-space/

# Large data files
data/raw/events/*.json
data/interim/**
data/raw/matches/**
data/final/**